*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orelega',sans-serif;
}


.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(/img/bg.gif);
    background-position: center;
    background-size: cover;
    
}



nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
    
    
}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
nav .logo img{
    width: 60px;
    margin-right: 10px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: all .4s;

}

nav:hover{
    background: #101823;

}

nav:hover .logo{
    color: #FF4654
}

nav:hover ul li a{
    color: #FF4654;
}





.content{
    margin-top: 9%;
    margin-left: 9%;
    color: #fff;
}

.content h1{
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
}

.content p{
    max-width: 500px;
    line-height: 28px;
}


.written{
  margin-right: 5vh;
  float: right;
  
}

.written a{
  color: #fff;
  text-decoration: none;
}

.links{
    margin-top: 30px;

}
.links a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.btn{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
    transition: background 1s;
}


.btn:hover{

background: #FF4654;
color: #333;
}

.slide-left{
    animation: slideleft 1s linear forwards;
}


@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}


@media (min-width:360px) {
  .header{
    height: 100%;
    padding-bottom: 7px;
  }
  .content {
    height: 100%;
  }
  .content h1{
   
    font-weight: 100;
  }
  .written p{

font-size: 14px;
  }


  
}






@media (max-width:915px) {
    .content h1{
    font-size: 90px;
    line-height: 100px;
    font-weight: 600;
    }
    nav ul li{
        margin-left: 50px;
    }

}




.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:915px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:915px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

.karakterler{
    background-color: #101823;
    background-image: url(/chars/charbg.JPG);
    display: flex;
    align-items: center;
    justify-content: center;
}
  .swiper{
    
      width: 30%;
      height: fit-content;
  }

  .swiper-slide img{
      width: 100%;
  }


  .swiper-wrapper{
      color: #FF4654;
  }


  @media (max-width:930px) {
    .karakterler{
      width: 100%;
      height: 100%;
      
    }

    .swiper{
      width: max-content;
    }

    
    .swiper-slide img{
      width: 100%;
      height: 100%;
    }

    .swiper-slide p{
      font-size: 13px;
      margin-left: 3%;
      margin-right: 1%;
    }
  }


  .to-top{
      background: white;
      position: fixed;
      bottom: 16px;
      right: 32px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: #1f1f1f;
      text-decoration: none;
      opacity: 0;
      pointer-events: none;
      transition: all .4s;
  }

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 1;

}




#button {
    display: inline-block;
    background-color: #FF4654;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width:930px) {
    #button{
      margin-right: 50px;
    }
    
  }